rules_version='2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir acceso a un usuario solo a su propio documento y subcolecciones
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    // Denegar el acceso a cualquier otra cosa por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
